<div class="col-12 col-lg-4">
<aside class="pt-3 pb-4 px-4 mb-5 card">
  <h1 class="h4 pt-2 pb-2">Моя компания</h1>
  <div class="nav flex-column nav-pills">
    {% with request.resolver_match.url_name as url_name %}
      <a class="nav-link {% if url_name == 'my-company' %} {{ 'active' }} {% endif %}"
         href="{% url 'my-company' %}">1. Информация о&nbsp;компании</a>
      <a class="nav-link {% if url_name == 'my-vacancies' %} {{ 'active' }} {% endif %}"
         href="{% url 'my-vacancies' %}">2. Вакансии</a>
    {% endwith %}
  </div>
</aside>
</div>
