{% load static %}

<form action="{% if pk %} {% url view pk %} {% else %} {% url view %} {% endif %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="mt-3 text-danger small">{{ form.title.errors }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="{{ form.specialty.auto_id }}">{{ form.specialty.label }}</label>
                {{ form.specialty }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="{{ form.salary_min.auto_id }}">{{ form.salary_min.label }}</label>
                {{ form.salary_min }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group pb-2">
                <label class="mb-2" for="{{ form.salary_max.auto_id }}">{{ form.salary_max.label }}</label>
                {{ form.salary_max }}
            </div>
        </div>
    </div>
    <div class="form-group pb-2">
        <label class="mb-2 text-dark" for="{{ form.is_remote.auto_id }}">{{ form.is_remote.label }}</label>
        {{ form.is_remote }}
    </div>
    <div class="form-group pb-2">
        <label class="mb-2 text-dark" for="{{ form.skills.auto_id }}">{{ form.skills.label }}</label>
        {{ form.skills }}
    </div>
    <div class="form-group pb-2">
        <label class="mb-2 text-dark" for="{{ form.description.auto_id }}">{{ form.description.label }}</label>
        {{ form.description }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Сохранить">
    </div>
</form>

{% block footer %}

  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

  {{ form.media }}

  <script>
    (function($) {
        $('#add-form').click(function() {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function() {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        })
    })($)
  </script>
{% endblock %}
